# Sets and Abstract Algebra

## Set Operations in Python

In [2]:
A = {1, 3, 4, 5, 7}
B = {0, 2, 4}
C = set() # empty set

A reliable way to remove duplicates from a list is to convert it to a set and back to a list

In [3]:
x = [1, 1, 1, 2, 3, 4, 4, 5, 6, 6]
y = list(set(x))
y

[1, 2, 3, 4, 5, 6]

The basic set operations include union `|`, intersection `&`, difference `-`, and symmetric difference `^`

In [4]:
A = {1, 3, 4, 5, 7}
B = {0, 2, 4}

In [5]:
A | B

{0, 1, 2, 3, 4, 5, 7}

In [6]:
A & B

{4}

In [7]:
A - B

{1, 3, 5, 7}

In [8]:
A ^ B

{0, 1, 2, 3, 5, 7}

## Experimenting with Number Sets in Python

In [9]:
i = 123456789**3
i

1881676371789154860897069

In [10]:
f = 2.718281828459045**0.5
f

1.6487212707001282

In [11]:
c = 1 + 3j
c * c

(-8+6j)

In [12]:
d = complex(-3.3, 0.4)
c * d

(-4.5-9.499999999999998j)

In [16]:
from NumberSets import Quaternion

c = Quaternion(1, 3, 0, 0)
d = Quaternion(-3.3, 0.4, 0, 0)
print(c * d)
print(d * c)

-4.5-9.5i+0j+0k
-4.5-9.5i+0j+0k

In [17]:
a = Quaternion(1, 2, 3, 4)
b = Quaternion(8, 0, -3, 2)

# Multiplicative Commutativity is lost when using quaternions
print(a * b)
print(b * a)

9+34i+17j+28k
9-2i+25j+40k